/* stylesheets="@/main/style.css" */

.buttonMainStyle {
    -fx-background-color: #0691a5;
    -fx-background-radius: 25px;
    -fx-text-fill: WHITE;
}

.buttonMakeGoal {
    -fx-background-color: #009600;
    -fx-text-fill: WHITE;
}

.buttonRemoveGoal {
    -fx-background-color: #ff0000;
    -fx-text-fill: WHITE;
}

.buttonBackGoal {
    -fx-background-color: #0691a5;
    -fx-text-fill: WHITE;
}

.buttonBackGoal2 {
    -fx-background-color: #0691a5;
    -fx-text-fill: WHITE;
    -fx-font-size: 20px;
}




